body {
    background: rgb(77, 115, 167);
}

h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h3 {
    background: rgb(100, 188, 203);
    text-align: center;
}

.aqua-text {
    color: rgb(46, 146, 200);
}

.aqua-text:hover {
    color: rgb(6, 0, 82);
}